.heroWrapper {
  position: relative;
  background: linear-gradient(
    170deg,
    var(--color-seafoam-dark) 0rem,
    var(--color-seafoam) 30rem,
    white 60rem
  );
  background-repeat: repeat-x;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      170deg,
      var(--color-seafoam-dark) 0rem,
      var(--color-seafoam) 30rem,
      white 60rem
    );
    z-index: 30;
    opacity: 0;
    mix-blend-mode: hard-light;
    pointer-events: none;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      170deg,
      var(--color-seafoam-dark) 0rem,
      var(--color-seafoam) 30rem,
      white 60rem
    );
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) -20%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 120%
    );
    z-index: 15;
    opacity: 1;
    pointer-events: none;
  }
}

.hero {
  display: block;
  position: relative;
  overflow: visible;
  margin-top: -12%;
  z-index: 1;

  --animation-length: 500ms;
}

.heroContent {
  position: relative;
  text-align: center;
  display: block;
  padding: 6rem 4rem 0 4rem;
  margin: 0;
  z-index: 20;
}

.heroTitle {
  font-family: var(--font-tuner);
  font-size: 3.5rem;
  color: var(--color-primary);
  margin: 0 0 2rem 0;

  /* Temp */
  svg {
    height: 1em;
    width: auto;
    display: inline-block;
    margin: 0;
  }
}

.heroText {
  font-size: 1.75rem;
  font-family: var(--font-regular);
  margin: 0 0 2.5rem 0;
}

.heroButton {
  position: relative;
  display: inline-block;
  background: transparent;
  border: none;
  padding: 1rem 2rem;
  color: var(--color-white);
  z-index: 10;
  cursor: pointer;
  font-size: 1.25rem;

  &:hover,
  &:focus {
    &:before {
      transform: translate3d(0, 0, 0px) scale3d(1.07, 1.07, 1);
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 2rem;
    opacity: 1;
    z-index: -1;
    transition: transform var(--ease-out) 300ms;
    transform: translate3d(0, 0, 0px) scale3d(1, 1, 1);
  }
}

.grid {
  /* Isometric: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) */
  // --rotationTransform: rotateX(55deg) rotateY(0deg) rotateZ(-35deg);
  // --rotationTransform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  --rotationTransform: rotateX(60deg) rotateY(0deg) rotateZ(-35deg);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'a c c g'
    'b d d g'
    'b e f f';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  transform: var(--rotationTransform);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  overflow: visible;
  z-index: 10;
}

.gridLeft {
  transform: var(--rotationTransform) translate3d(calc(-100% - 1rem), 0, 0);
  z-index: 15;
}

.gridRight {
  transform: var(--rotationTransform) translate3d(calc(100% + 1rem), 0, 0);
  z-index: 5;
}

.gridItem {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background-color: white;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  transition: transform var(--animation-length) var(--ease-out),
    opacity var(--animation-length) var(--ease-out);
  z-index: 1;
  opacity: 1;
  cursor: pointer;
  overflow: visible;

  svg {
    position: relative;
    width: 5em;
    height: auto;
    opacity: 0.3;
    transition: transform var(--animation-length) var(--ease-out),
      opacity var(--animation-length) var(--ease-out);
    transform: translate3d(0, 0, 0px) scale3d(1, 1, 1);

    @media screen and (max-width: 900px) {
      width: 9vw;
    }
  }

  span:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    transform: translate3d(0, 0, 0px) scale3d(1, 1, 1);
    transition: opacity var(--animation-length) var(--ease-out);
    background-color: var(--color-light);
    border-radius: 2rem;
  }

  span:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transform: translate3d(0, 0, 0px) scale3d(1, 1, 1);
    transition: opacity var(--animation-length) var(--ease-out);
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.07);
    border-radius: 2rem;
  }

  &:hover {
    transform: translate3d(0, 0, 18px);
    transform-origin: center bottom;
    opacity: 1;

    &:after {
      transform: translate3d(0, 0, -18px);
    }

    &:before {
      transform: translate3d(0, 0, -20px) scale3d(1, 1, 1);
      opacity: 0.3;
    }

    span {
      opacity: 0;
    }

    svg {
      opacity: 1;
    }
  }

  /* Drop Shadow */
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 40px;
    top: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    border-radius: 2rem;
    transform: translate3d(0, 0, -1px);
    background-color: rgba(132, 181, 178, 0.3);
    box-shadow: 0 0 50px 50px rgba(132, 181, 178, 0.3);
    z-index: -1;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform var(--animation-length) var(--ease-out),
      opacity var(--animation-length) var(--ease-out);
    opacity: 0;
  }

  /* Cutout */
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    transform: translate3d(0, 0, -0.1px);
    box-shadow: 0 0 0 2px var(--color-shadow),
      inset -10px 10px 10px var(--color-shadow);
    z-index: -1;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform var(--animation-length) var(--ease-out),
      opacity var(--animation-length) var(--ease-out);
    opacity: 0;
    z-index: -1;
  }
}

.gridItemActive {
  transform: translate3d(0, 0, 40px);
  transform-origin: center bottom;
  opacity: 1;

  &:after {
    transform: translate3d(0, 0, -40px);
    opacity: 0.65;
  }

  &:before {
    transform: translate3d(0, 0, -42px);
    opacity: 0.25;
  }

  svg {
    opacity: 1;
  }

  span:nth-of-type(1) {
    opacity: 0;
  }

  span:nth-of-type(2) {
    opacity: 1;
  }
}

.bigLogo {
  svg {
    width: 7.5em;
    @media screen and (max-width: 900px) {
      width: 12vw;
    }
  }
}

.gridItem1 {
  grid-area: a;
}

.gridItem2 {
  grid-area: b;
}

.gridItem3 {
  grid-area: c;
}

.gridItem4 {
  grid-area: d;
}

.gridItem5 {
  grid-area: e;
}

.gridItem6 {
  grid-area: f;
}

.gridItem7 {
  grid-area: g;
}

.wrapper {
  position: relative;
  width: 100%;
  // max-width: 1232px;
  max-width: 950px;
  margin: 0px auto;
  padding: 0px 2rem;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: visible;

  @media screen and (min-width: 2000px) {
    max-width: 1150px;
  }
}

.aspectRatio {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 70%;
  overflow: visible;
}
