# build output
dist
.next
out

# dependencies
node_modules
test/node_modules

# logs & pids
*.log
pids
npm-debug.log*

# coverage
.nyc_output
coverage

# test output
test/**/out*
test/**/next-env.d.ts
.DS_Store

# Editors
**/.idea

# example output
examples/**/out

# env variables
.env
.env.local

#indices
indices/out
.now

public/rss.xml

#sitemaps
/public/sitemap.xml
/public/sitemap-0.xml

tina/__generated__

# script output
scripts/content-auditor/auditor-found-files.txt
scripts/content-auditor/auditor-responses.md
scripts/content-auditor/content-auditor-prompt.txt