.customOverlay {
    background: rgba(163, 163, 163, 0.8);
  }
  .customModal {
    background: rgb(255, 255, 255);
    width: 40rem;
    border-radius: 1rem;
    text-align: left;
    max-width: 70%;
  }
  .react-responsive-modal-closeButton {
    display: none !important; 
  }