name: PR Lighthouse Insights

on:
  repository_dispatch:
    types:
      - 'vercel.deployment.success'

jobs:
  run-lighthouse:
    if: github.event.client_payload.environment == 'preview'
    uses: ./.github/workflows/template-lighthouse.yml
    with:
      url: ${{ github.event.client_payload.url }}
    secrets:
      GH_APP_KEY: ${{ secrets.GH_APP_KEY }}
