name: Template - Lighthouse Insights

on:
  workflow_call:
    inputs:
      url:
        type: string
        required: true
    secrets:
      GH_APP_KEY:
        required: true

defaults:
  run:
    shell: pwsh

jobs:
  lighthouse-insights:
    name: Run Lighthouse Insights
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: Wait for slot to be available
        uses: jtalk/url-health-check-action@v4
        with:
          url: ${{ inputs.url }}
          max-attempts: 5
          retry-delay: 40s

      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          configPath: ./.lighthouserc.json
          urls: |
            ${{ inputs.url }}
            ${{ inputs.url }}/articles
            ${{ inputs.url }}/company/about-us
            ${{ inputs.url }}/company/clients
            ${{ inputs.url }}/company/contact-us
            ${{ inputs.url }}/consulting
            ${{ inputs.url }}/consulting/net-upgrade
            ${{ inputs.url }}/consulting/web-applications
            ${{ inputs.url }}/employment
            ${{ inputs.url }}/events/angular-superpowers-tour
            ${{ inputs.url }}/events/ai-workshop
            ${{ inputs.url }}/netug/sydney
            ${{ inputs.url }}/training/internship-fullstack

      - name: Create lighthouse report
        id: lighthouse-results-generate
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
        run: |
          python scripts/generate-lighthouse-report.py

      - name: Comment on PR with Lighthouse insights
        uses: mshick/add-pr-comment@v2
        if: github.event_name == 'pull_request'
        with:
          message: |
            ${{ steps.lighthouse-results-generate.outputs.report }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true

      - name: Add Lighthouse Insights to Summary
        if: github.event_name != 'pull_request'
        run: |
          $report_content='${{ steps.lighthouse-results-generate.outputs.report }}'
          "$report_content" | Out-File -FilePath $env:GITHUB_STEP_SUMMARY -Append

      - name: Create token for GitHub App
        uses: actions/create-github-app-token@v2
        if: github.event_name != 'pull_request'
        id: get-app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_KEY }}

      - name: Stage markdown file for commit
        if: github.event_name != 'pull_request'
        run: git add prod-lighthouse-report.md

      - name: Commit lighthouse report to repo
        if: github.event_name != 'pull_request'
        uses: dsanders11/github-app-commit-action@v1
        with:
          message: "Updated Lighthouse markdown report generated by workflow run: ${{ github.run_number }} [skip ci]"
          force: true # to make sure the update is a fast-forward update
          token: ${{ steps.get-app-token.outputs.token }}